@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-all: "Josefin Sans", sans-serif;
  --logo-margin: 5rem;
  --ff-h1: 4rem;

  --color-neutral: hsl(0, 6%, 24%);

  --color-primary-light: hsl(0, 36%, 70%);
  --color-primary-dark: hsl(0, 93%, 68%);

  --color-secondary-light: hsl(0, 0%, 100%);
  --color-secondary-dark: hsl(0, 100%, 98%);

  --color-tertiary-light: hsl(0, 100%, 96%);
  --color-tertiary-dark: hsl(0, 74%, 74%);
}

@media (max-width: 1220px) {
  :root {
    --ff-h1: 3rem;
  }
}

body {
  width: 100%;
  max-height: 90vh;
  font-family: var(--ff-all);
  background-image: linear-gradient(
    to top left,
    var(--color-tertiary-light),
    var(--color-secondary-dark)
  );
  position: relative;
}

nav {
  position: absolute;
  padding: 3rem 8rem;
}

header {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1.7fr;
  overflow: hidden;
}

@media (max-width: 1024px) {
  header {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    flex: 1;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
  }
  .img_container {
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-top: 7rem;
  }
  .img_container img {
    object-fit: center;
    width: 30px;
    height: 30px;
  }
  nav {
    padding: 1rem 8rem;
  }
}
@media (max-width: 450px) {
  header {
    width: 100%;
  }
  .img_container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-top: 7rem;
  }


}

.img_container img {
  width: inherit;
  height: auto;
  object-fit: cover;
}

.text_container {
  width: 100%;
  padding: 4rem 8rem;
  margin-top: 6rem;
}

@media (max-width: 1175px) {
  nav {
    padding: 3rem 4rem;
  }
  .text_container {
    padding: 2rem 4rem;
  }
}

@media (max-width: 450px) {
    .text_container {
        padding: 0 2rem;
      }    
}

.text_container .logo_box {
  margin-bottom: var(--logo-margin);
}

.text_container .info_box {
  text-transform: uppercase;
}

.text_container .info_box > * {
  margin-bottom: 1.5rem;
}

.text_container .info_box h1 {
  font-size: var(--ff-h1);
  font-weight: 600;
  letter-spacing: 1rem;
  width: 90%;
  color: var(--color-neutral);
}

.text_container .info_box h1 span {
  font-weight: 300;
  color: var(--color-primary-light);
}
.text_container .info_box p {
  color: var(--color-primary-light);
  width: 72%;
  line-height: 30px;
}

.email_box {
  width: 75%;
  height: 3rem;
  border: 2px solid hsla(0, 36%, 70%, 0.788);
  border-radius: 2rem;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}

@media(max-width:1024px){
    .email_box{
        width: 60%;
    }  
}

@media (max-width: 450px) {
    .email_box{
        width: 100%;
        margin-bottom: 1rem;

    }  
}

.email_box form {
  display: flex;
}

.email_box .input_box {
  width: 82%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.email_box .input_box label {
  position: absolute;
  padding: 0 1rem;
  color: hsla(0, 36%, 70%, 0.788);
  pointer-events: none;
}
.email_box .input_box input {
  font-family: inherit;

  border: none;
  background: transparent;
  width: 100%;
  height: 2.9rem;
  font-size: 1.2rem;
  padding-left: 1rem;
  color: var(--color-neutral);
}

.email_box .input_box input:visited,
.email_box .input_box input:focus {
  outline: none;
}
.input:focus ~ .label,
.input:valid ~ .label {
  opacity: 0;
}

.email_box .btn_box button {
  width: 6rem;
  height: 2.8rem;
  border-radius: 3rem;
  cursor: pointer;
  border: none;
  background: transparent;
  background-image: linear-gradient(
    to top left,
    var(--color-primary-dark),
    var(--color-tertiary-dark)
  );
}

.email_box.invalid .input_box::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url(images/error.png);
  background-size: cover;
  margin-right: 5px;
  z-index: 100;
}
.email_box.valid .input_box::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url(images/valid.png);
  background-size: cover;
  margin-right: 5px;
  z-index: 100;
}

.text_validation {
  padding: 1rem;
}
